
.SideNav{
    list-style: none;
    margin: 0;
    box-shadow: 0 0 10px #ccc;
    
}

.SideNav li{
    border: 1px solid #ccc;
}

.SideNav a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    background: #fff;
    padding: 10px;
    display: block;
    margin-bottom: 1px;
}

.SideNav a:hover, .SideNav a.active{
    color: #d13f1b;
}

@media(max-width: 600px){
    .SideNav{
        display: flex;
        text-align: center;
        margin-bottom: 20px;
        justify-content: center;
        box-shadow: none;
    }
    .SideNav li{
        flex-basis: 33.33%;
        box-shadow: 0 0 7px #ccc;
    }
}