.YourComplaints{
    border-radius: 5px;
    box-shadow: 0 0 4px #ccc;
    background: #ccc;
    margin-bottom: 10px;
    width: 100%;
}

.YourComplaints > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.YourComplaints > div select{
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 700;
}

.YourComplaints > div select:hover{
    cursor: pointer;
}

.YourComplaints table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    border-radius: 5px;
}

.YourComplaints table thead{
    background: #fff;
}
.YourComplaints table tbody{
    color: #616060;
}

.YourComplaints table tbody tr:nth-child(odd){
    background: #fff;
}

.YourComplaints table tbody tr:nth-child(even){
    background: #f1f1f1
}

.YourComplaints table td, .YourComplaints table th{
    text-align: center;
    padding: 10px 0;
    border: 1px solid #ddd;
    border-top: none;
}

.Open{
    color: #ff0019;
}

.Resolved{
    color: #047031;
}

.InProgress{
    color: #1d0866;
}

.CreatedOn button{
    border: none;
    outline: none;
    background: none;
    padding: 0 1px;
}
.CreatedOn button:hover{
    color: #ff0019;
    cursor: pointer;
}

.CreatedOn span{
    padding: 0 5px;
}

.Pagination{
    text-align: center;
    padding-bottom: 30px;
}

.Pagination button{
    border: none;
    background: none;
    outline: none;
    color: #616060;
    margin: 0 10px;
}

.Pagination button:hover{
    color: #000;
    cursor: pointer;
}

@media(max-width:600px){
    .YourComplaints table{
        display: flex;
        flex-direction: column;
    }
    .YourComplaints thead tr{
        display: flex;
        justify-content: space-evenly;
    }

    .YourComplaints tbody tr{
        display: flex;
        justify-content: space-evenly;
    }
    .YourComplaints tbody tr td{
        width: 25%;
        overflow: auto;
        padding: 10px;
    }
}