.ShowBuzz{
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 50px;
}

.ShowBuzz h4{
    background: #ddd;
    padding: 10px;
}

.ShowBuzz > div {
    display: flex;
    flex-direction: column;
}

