.ShowBuzz{
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 30px;
}

.Header{
    display: flex;
    justify-content: space-between;
    background: #ddd;
    padding: 10px;
}

.Header button{
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
}

.Header button:hover{
    color: #ff0019;
    cursor: pointer;
}

.LoadMoreButton{
    display: block;
    margin: 20px auto;
    background: #ccc;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 17px;
    color: #ff0019;
    outline: none;
}

.LoadMoreButton:hover{
    background: #ddd;
    cursor: pointer;
}

.Message{
    text-align: center;
    margin: 20px 0;
    color: #ff0019;
}

