.ShowBuzz{
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 50px;
}

.Header{
    display: flex;
    justify-content: space-between;
    background: #ddd;
    padding: 10px;
}

