.Input{
  flex-basis: calc(100%/2 - 1rem);
}

.InputElement{
  width: 100%;
  padding: 8px 6px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.Label{
  margin: 8px 0;
  display: block;
  color: #aaa;
}

.Option{
  line-height: 32px;    
}

.Invalid{
  border: 1px solid #ff0000;
}