.Profile{
    display: flex;
    justify-content: space-around;
    background: #f4f8fc;
    margin: 20px;
}

.Info{
    text-align: center;
    padding: 30px;
    border-right: 1px solid #808080;
    flex-basis: 40%;

}

.Info img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    box-shadow: 0 0 10px #808080;
    margin-top: 30px;
}

.Info p:first-of-type{
    color: #ff0019;
    font-size: 25px;
    margin: 30px 0;
}

.Info p:nth-of-type(3){
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
}

.Info p:nth-of-type(4){
    margin-top: 10px;
    color: #5a5a5a;
}


.EditProfile{
    text-align: left;
    background: #fff;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow:  0 0 4px #ccc;
    margin: 20px 0;
}

.EditProfile h3{
    background: #ccc;
    padding: 10px;
}

.EditProfile form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.EditProfile label{
    font-size: 15px;
    color: #3d3d3d;
}

.EditProfile input{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #808080;
    outline: none;
    border-radius: 5px;
}

.EditProfile p{
    font-size: 12px;
    margin-bottom: 20px;
    color: #ff0000;
}

.Name{
    display: flex;
    justify-content: space-between;
}

.Gender{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}

.Gender > div{
    flex-basis: 30%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.EditProfile input[type='radio']{
    margin: 0;
    width: 20px;
}

.EditProfile textarea{
    height: 100px;
    border: 1px solid #808080;
    padding: 5px;
    margin: 5px 0 20px 0;
    outline: none;
    border-radius: 5px;
    width: 100%;
}

.EditProfile button{
    padding: 10px 20px;
    background: #ccc;
    border: none;
    font-size: 16px;
    color: #ff0019;
    margin-top: 20px;
    outline: none;
    border-radius: 5px;
}

.EditProfile button:hover{
    background: #d4d4d4;
    cursor: pointer;
}

.EditProfile button:disabled{
    cursor: not-allowed;
    color: #fff;
}

