.Assign{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 4px #ccc;
    
}

.AssignButton{
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    margin: 0 auto;
    font-weight: 700;
}

.AssignButton:hover{
    cursor: pointer;
    text-decoration: underline;
}


.Assign select{
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #808080;
    background: transparent;
    border-radius: 5px;
    color: #808080;
    outline: none;
}

.Assign button{
    display: block;
    padding: 6px 14px;
    font-size: 15px;
    margin: 0 auto;
    border: 1px solid#ccc;
    border-radius: 5px;
    color: #ff0019;
    background: #ccc;
}

.Assign button:hover{
    background: #bdbbbb;
    cursor: pointer;
}
