*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f4f8fc;
}

.Nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.Nav nav{
    flex-basis: 30%;
}

.Nav >div{
    flex-basis: 65%;
}

@media(max-width: 600px){
    .Nav{
        flex-direction: column;
    }

    .UserName{
        display: none;
    }

    .UserNameMobile{
        position: absolute;
        top: 45px;
        left: 315px;
        background: #fff;
        padding: 10px;
        z-index: 200;
    }
}
